---
layout: default
---
<div id="page-wrapper">
    <div>
        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">TimeBus</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li ng-if="!user.nome"><a href="login.html" class="button">Login</a></li>
                    <li ng-if="!user.nome"><a href="cadastro.html" class="button">Cadastro</a></li>
                    <li ng-if="user.nome">
                        <a href="#">[[user.nome]]</a>
                        <ul>
                            <li><a href="#" ng-click="deslogar()">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <h2>TimeBus</h2>
            <p>Todos os horários de onibus de sua cidade ao seu alcance.</p>
            <div class="row uniform 50%">
                <div class="3u 2u(narrower) 12u(mobilep)"></div>
                <div class="6u 8u(narrower) 12u(mobilep)">
                    <input type="text" list="onibus" placeholder="Informe aqui a linha de onibus, ex: 3333"
                           ng-model="onibus" style="color: #333">
                    <datalist id="onibus">
                        <option ng-repeat="b in bus" value="[[b.linha]] - [[b.origem]] / [[b.destino]]">
                    </datalist>
                </div>
            </div>
            <br>
            <ul class="actions">
                <li><a href="#" ng-show="onibus.length > 6" ng-click="getBus()" class="button special">Ver Horarios</a>
                </li>
                <li><a href="#" ng-show="onibus.length > 6" ng-click="download()" class="button">Download</a></li>
            </ul>
        </section>

        <!-- Main -->
        <section id="main" class="container" ng-if="horarios.normal || horarios.sabado || horarios.feriado_domingo">

            <section class="box special" id="quadroHorario">
                <header class="major">
                    <h2>[[onibus]]</h2>
                </header>
                <hr>
                <section class="row uniform 100%" id="horarios">
                    <div class="4u 12u(mobile)">
                        <h4><strong>Dias Úteis</strong>
                            <hr>
                        </h4>
                        <ul>
                            <li ng-repeat="h in horarios.normal">[[h.hora]] : [[h.minuto]]</li>
                        </ul>
                    </div>
                    <div class="4u 12u(mobile)">
                        <h4><strong>Sábados</strong>
                            <hr>
                        </h4>
                        <ul>
                            <li ng-repeat="h in horarios.sabado">[[h.hora]] : [[h.minuto]]</li>
                        </ul>
                    </div>
                    <div class="4u 12u(mobile)">
                        <h4><strong>Domingos e feriados</strong>
                            <hr>
                        </h4>
                        <ul>
                            <li ng-repeat="h in horarios.feriado_domingo">[[h.hora]] : [[h.minuto]]</li>
                        </ul>
                    </div>
                </section>
            </section>
        </section>

        <!-- CTA -->
        <section id="cta">

            <h2>Newsletter</h2>
            <p>Receba todas as novidades do TimeBus por email.</p>

            <form action="//app.mailerlite.com/webforms/submit/x9g4f5" data-code="x9g4f5"
                  method="POST" target="_blank">
                <div class="row uniform 50%">
                    <div class="8u 12u(mobilep)">
                        <input type="email" name="fields[email]" id="email" placeholder="email@site.com"/>
                    </div>
                    <input type="hidden" name="ml-submit" value="1"/>
                    <div class="4u 12u(mobilep)">
                        <input type="submit" value="Cadastrar" class="fit"/>
                    </div>
                </div>
            </form>

        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; TimeBus. Todos os direitos resevados.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>

</div>
</div>
