<!-- Scripts -->
<script src="{{ '/lib/jsPDF/jspdf.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/lib/angular/angular.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/app/app.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/lib/theme/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/lib/theme/js/jquery.dropotron.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/lib/theme/js/jquery.scrollgress.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/lib/theme/js/skel.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/lib/theme/js/util.js' | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ '/lib/theme/js/ie/respond.min.js' | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ '/lib/theme/js/main.js' | prepend: site.baseurl }}"></script>