<!-- Scripts -->
<script src="{{ "/lib/angular/angular.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/lib/theme/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/lib/theme/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/lib/theme/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/lib/theme/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/lib/theme/css/main.css" | prepend: site.baseurl }}js/ie/respond.min.js"></script><![endif]-->
<script src="{{ "/lib/theme/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/app/app.js" | prepend: site.baseurl }}"></script>
