<head>
   <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
   <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <!--[if lte IE 8]><script src="{{ "/timebus/lib/theme/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
   <link rel="stylesheet" href="{{ "/timebus/lib/theme/css/main.css" | prepend: site.baseurl }}" />
   <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/timebus/lib/theme/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
   <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/timebus/lib/theme/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
</head>
